In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from ydata_profiling import ProfileReport

In [6]:
df = pd.read_csv('../data/penguins.csv')

df.describe()


#profile.to_file("titanic_report.html")

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000